IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'advsql-milestone-2')
BEGIN
    PRINT 'Database advsql-milestone-2 does not exist — creating it now...';
    CREATE DATABASE [advsql-milestone-2];
END
ELSE
BEGIN
    PRINT 'Database advsql-milestone-2 already exists — skipping creation.';
END
GO

USE [advsql-milestone-2]
GO
/****** Object:  Table [dbo].[APP_PART]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_PART](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BinCapacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_STATION]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_STATION](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_BIN]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_BIN](
	[BinID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinQty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BinWithNames]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View with names (readable fields)
CREATE   VIEW [dbo].[vw_BinWithNames] AS
SELECT
    b.BinID,
    b.StationID,
    s.Code AS StationCode,
    s.Name AS StationName,
    b.PartID,
    p.Name AS PartName,
    b.Quantity,
    b.MinQty,
    NeedsRunner = CASE WHEN b.Quantity <= b.MinQty THEN 1 ELSE 0 END
FROM dbo.APP_BIN b
JOIN dbo.APP_STATION s ON s.StationID = b.StationID
JOIN dbo.APP_PART    p ON p.PartID    = b.PartID;
GO
/****** Object:  Table [dbo].[APP_ALERT]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_ALERT](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[AlertType] [nvarchar](100) NULL,
	[Reason] [nvarchar](255) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_ASSEMBLY]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_ASSEMBLY](
	[AssemblyID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [int] NOT NULL,
	[WorkerID] [int] NOT NULL,
	[StartedAt] [datetime2](0) NOT NULL,
	[FinishedAt] [datetime2](0) NULL,
	[Result] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssemblyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_BINTRANSACTION]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_BINTRANSACTION](
	[BinTransID] [int] IDENTITY(1,1) NOT NULL,
	[BinID] [int] NOT NULL,
	[StationID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[DeltaQty] [int] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BinTransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_CONFIG]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_CONFIG](
	[ConfigItemID] [int] IDENTITY(1,1) NOT NULL,
	[configType] [nvarchar](20) NOT NULL,
	[configDescription] [nvarchar](100) NOT NULL,
	[value] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_WORKER]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_WORKER](
	[WorkerID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [int] NULL,
	[Skill] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APP_CONFIG] ON 

INSERT [dbo].[APP_CONFIG] ([ConfigItemID], [configType], [configDescription], [value], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, N'System', N'TimeScale', 2, CAST(N'2025-11-18T02:35:31.0000000' AS DateTime2), CAST(N'2025-11-18T02:35:31.0000000' AS DateTime2))
INSERT [dbo].[APP_CONFIG] ([ConfigItemID], [configType], [configDescription], [value], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (2, N'Part', N'Harness', 55, CAST(N'2025-11-18T02:35:31.0000000' AS DateTime2), CAST(N'2025-11-18T02:35:31.0000000' AS DateTime2))
INSERT [dbo].[APP_CONFIG] ([ConfigItemID], [configType], [configDescription], [value], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (3, N'Part', N'Reflector', 35, CAST(N'2025-11-18T02:35:31.0000000' AS DateTime2), CAST(N'2025-11-18T02:35:31.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[APP_CONFIG] OFF
GO
SET IDENTITY_INSERT [dbo].[APP_WORKER] ON 

INSERT [dbo].[APP_WORKER] ([WorkerID], [StationID], [Skill]) VALUES (1, NULL, N'Rookie')
INSERT [dbo].[APP_WORKER] ([WorkerID], [StationID], [Skill]) VALUES (2, NULL, N'Experienced')
INSERT [dbo].[APP_WORKER] ([WorkerID], [StationID], [Skill]) VALUES (3, NULL, N'Super')
SET IDENTITY_INSERT [dbo].[APP_WORKER] OFF
GO
/****** Object:  Index [UX_BIN_StationPart]    Script Date: 11/20/2025 11:03:51 PM ******/
ALTER TABLE [dbo].[APP_BIN] ADD  CONSTRAINT [UX_BIN_StationPart] UNIQUE NONCLUSTERED 
(
	[StationID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CFG_Key]    Script Date: 11/20/2025 11:03:51 PM ******/
ALTER TABLE [dbo].[APP_CONFIG] ADD  CONSTRAINT [UQ_CFG_Key] UNIQUE NONCLUSTERED 
(
	[configType] ASC,
	[configDescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PART_Name]    Script Date: 11/20/2025 11:03:51 PM ******/
ALTER TABLE [dbo].[APP_PART] ADD  CONSTRAINT [UQ_PART_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APP_ALERT] ADD  CONSTRAINT [DF_ALERT_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[APP_ASSEMBLY] ADD  CONSTRAINT [DF_ASM_Start]  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[APP_BIN] ADD  CONSTRAINT [DF_BIN_Qty]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[APP_BIN] ADD  CONSTRAINT [DF_BIN_Min]  DEFAULT ((0)) FOR [MinQty]
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION] ADD  CONSTRAINT [DF_BINTRAN_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[APP_CONFIG] ADD  CONSTRAINT [DF_CFG_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[APP_CONFIG] ADD  CONSTRAINT [DF_CFG_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[APP_STATION] ADD  CONSTRAINT [DF_STATION_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[APP_ALERT]  WITH CHECK ADD  CONSTRAINT [FK_ALERT_PART] FOREIGN KEY([PartID])
REFERENCES [dbo].[APP_PART] ([PartID])
GO
ALTER TABLE [dbo].[APP_ALERT] CHECK CONSTRAINT [FK_ALERT_PART]
GO
ALTER TABLE [dbo].[APP_ALERT]  WITH CHECK ADD  CONSTRAINT [FK_ALERT_STATION] FOREIGN KEY([StationID])
REFERENCES [dbo].[APP_STATION] ([StationID])
GO
ALTER TABLE [dbo].[APP_ALERT] CHECK CONSTRAINT [FK_ALERT_STATION]
GO
ALTER TABLE [dbo].[APP_ASSEMBLY]  WITH CHECK ADD  CONSTRAINT [FK_ASM_STATION] FOREIGN KEY([StationID])
REFERENCES [dbo].[APP_STATION] ([StationID])
GO
ALTER TABLE [dbo].[APP_ASSEMBLY] CHECK CONSTRAINT [FK_ASM_STATION]
GO
ALTER TABLE [dbo].[APP_BIN]  WITH CHECK ADD  CONSTRAINT [FK_BIN_PART] FOREIGN KEY([PartID])
REFERENCES [dbo].[APP_PART] ([PartID])
GO
ALTER TABLE [dbo].[APP_BIN] CHECK CONSTRAINT [FK_BIN_PART]
GO
ALTER TABLE [dbo].[APP_BIN]  WITH CHECK ADD  CONSTRAINT [FK_BIN_STATION] FOREIGN KEY([StationID])
REFERENCES [dbo].[APP_STATION] ([StationID])
GO
ALTER TABLE [dbo].[APP_BIN] CHECK CONSTRAINT [FK_BIN_STATION]
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_BINTRAN_BIN] FOREIGN KEY([BinID])
REFERENCES [dbo].[APP_BIN] ([BinID])
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION] CHECK CONSTRAINT [FK_BINTRAN_BIN]
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_BINTRAN_PART] FOREIGN KEY([PartID])
REFERENCES [dbo].[APP_PART] ([PartID])
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION] CHECK CONSTRAINT [FK_BINTRAN_PART]
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_BINTRAN_STATION] FOREIGN KEY([StationID])
REFERENCES [dbo].[APP_STATION] ([StationID])
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION] CHECK CONSTRAINT [FK_BINTRAN_STATION]
GO
ALTER TABLE [dbo].[APP_WORKER]  WITH CHECK ADD  CONSTRAINT [FK_WORKER_STATION] FOREIGN KEY([StationID])
REFERENCES [dbo].[APP_STATION] ([StationID])
GO
ALTER TABLE [dbo].[APP_WORKER] CHECK CONSTRAINT [FK_WORKER_STATION]
GO
ALTER TABLE [dbo].[APP_ASSEMBLY]  WITH CHECK ADD CHECK  (([Result]='F' OR [Result]='P'))
GO
ALTER TABLE [dbo].[APP_ASSEMBLY]  WITH CHECK ADD  CONSTRAINT [CK_ASM_Time] CHECK  (([FinishedAt] IS NULL OR [FinishedAt]>=[StartedAt]))
GO
ALTER TABLE [dbo].[APP_ASSEMBLY] CHECK CONSTRAINT [CK_ASM_Time]
GO
ALTER TABLE [dbo].[APP_BIN]  WITH CHECK ADD  CONSTRAINT [CK_BIN_Min] CHECK  (([MinQty]>=(0)))
GO
ALTER TABLE [dbo].[APP_BIN] CHECK CONSTRAINT [CK_BIN_Min]
GO
ALTER TABLE [dbo].[APP_BIN]  WITH CHECK ADD  CONSTRAINT [CK_BIN_Qty] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[APP_BIN] CHECK CONSTRAINT [CK_BIN_Qty]
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION]  WITH CHECK ADD  CONSTRAINT [CK_BINTRAN_Delta] CHECK  (([DeltaQty]<>(0)))
GO
ALTER TABLE [dbo].[APP_BINTRANSACTION] CHECK CONSTRAINT [CK_BINTRAN_Delta]
GO
ALTER TABLE [dbo].[APP_CONFIG]  WITH CHECK ADD  CONSTRAINT [CK_CFG_Type] CHECK  (([configType]='Part' OR [configType]='System'))
GO
ALTER TABLE [dbo].[APP_CONFIG] CHECK CONSTRAINT [CK_CFG_Type]
GO
/****** Object:  StoredProcedure [dbo].[DecrementPartCount]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DecrementPartCount]
AS
BEGIN
    -- refill bins with capacity < 5 using APP_CONFIG.value
    UPDATE p
    SET p.BinCapacity = p.BinCapacity + c.value
    FROM APP_PART p
    INNER JOIN APP_CONFIG c
        ON p.Name = c.configDescription
    WHERE p.BinCapacity < 6;

    -- decrement all bins by 1
    UPDATE APP_PART
    SET BinCapacity = BinCapacity - 1
    WHERE BinCapacity >= 6;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateStationWithBins]    Script Date: 11/20/2025 11:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CreateStationWithBins]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- count existing stations (0 => we're creating S1)
        DECLARE @stationCount int = (SELECT COUNT(*) FROM dbo.APP_STATION);

        -- figure out next station code S1,S2,...
        DECLARE @nextNo int =
            ISNULL((
                SELECT MAX(TRY_CAST(SUBSTRING(Code, 2, 10) AS int))
                FROM dbo.APP_STATION
                WHERE Code LIKE 'S%'
            ), 0) + 1;

        DECLARE @code nvarchar(50)  = CONCAT('S', @nextNo);
        DECLARE @name nvarchar(100) = CONCAT('Station ', @nextNo);

        -- create the new station
        INSERT dbo.APP_STATION(Code, Name, IsActive) VALUES (@code, @name, 1);
        DECLARE @stationId int = SCOPE_IDENTITY();

        -- ensure APP_PART has every part from APP_CONFIG (configType='Part')
        ;WITH cfg AS (
            SELECT configDescription AS PartName, CAST(value AS int) AS ConfigQty
            FROM dbo.APP_CONFIG WHERE configType='Part'
        )
        INSERT dbo.APP_PART(Name, BinCapacity)
        SELECT c.PartName, NULL
        FROM cfg c
        WHERE NOT EXISTS (SELECT 1 FROM dbo.APP_PART p WHERE p.Name=c.PartName);

        -- capture CHANGED parts BEFORE updating BinCapacity
        DECLARE @ChangedParts TABLE(PartID int PRIMARY KEY, NewConfigQty int);
        INSERT @ChangedParts(PartID, NewConfigQty)
        SELECT p.PartID, c.ConfigQty
        FROM dbo.APP_PART p
        JOIN (
            SELECT configDescription AS PartName, CAST(value AS int) AS ConfigQty
            FROM dbo.APP_CONFIG WHERE configType='Part'
        ) c ON c.PartName = p.Name
        WHERE ISNULL(p.BinCapacity, -2147483648) <> c.ConfigQty;

        -- align APP_PART.BinCapacity to config (changed parts only)
        UPDATE p
           SET p.BinCapacity = cp.NewConfigQty
        FROM dbo.APP_PART p
        JOIN @ChangedParts cp ON cp.PartID = p.PartID;

        -- runner threshold
        DECLARE @min int =
            (SELECT CAST(value AS int)
             FROM dbo.APP_CONFIG
             WHERE configType='System' AND configDescription='BinMin');
        IF @min IS NULL SET @min = 5;

        -- insert bins for the NEW station with current config quantities
        ;WITH cfg AS (
            SELECT configDescription AS PartName, CAST(value AS int) AS ConfigQty
            FROM dbo.APP_CONFIG WHERE configType='Part'
        )
        , parts AS (
            SELECT p.PartID, p.Name, c.ConfigQty
            FROM dbo.APP_PART p
            JOIN cfg c ON c.PartName = p.Name
        )
        INSERT dbo.APP_BIN(StationID, PartID, Quantity, MinQty)
        SELECT @stationId, pr.PartID, pr.ConfigQty, @min
        FROM parts pr
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.APP_BIN b
            WHERE b.StationID=@stationId AND b.PartID=pr.PartID
        );

        -- for S2+ only: update existing stations' bin quantities
        --              but ONLY for parts whose config changed
        IF @stationCount >= 1
        BEGIN
            UPDATE b
               SET b.Quantity = cp.NewConfigQty
            FROM dbo.APP_BIN b
            JOIN @ChangedParts cp ON cp.PartID = b.PartID
            WHERE b.StationID <> @stationId
              AND b.Quantity <> cp.NewConfigQty; 
        END

        COMMIT TRAN;

        SELECT @stationId AS StationID, @code AS StationCode;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        ;THROW;
    END CATCH
END

GO
